@import url("../fonts/Gilroy/stylesheet.css");
@import url("../fonts/Nekst/stylesheet.css");

html {
  box-sizing: border-box;

}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
    font-family: 'Nekst';
    font-weight: 900;
    font-style: normal;
    font-size: 54px;
    word-wrap: break-word;
    color: #111111;

    @media screen and (max-width: 440px) {
        & {
            font-size: 34px;
        }
    }
}