#references {
    max-width: 840px;
    margin: 0 auto;

    p {
        font-family: 'Nekst';
        font-weight: 900;
        font-style: normal;
        font-size: 30px;
        color: #575757;
    }
}